body {
    background-color: rgb(70, 70, 158);
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
}

select#flista {
    width: 150px;
}


#txti {
    width: 200px;
    height: 20px;
}

#txtf {
    width: 215px;
    height: 20px;
}

#txtp {
    width: 190px;
    height: 20px;
}

#cont {
    height: 50px;
}

#msg {
   text-align: center; 
   padding: 10px;
   font-weight: 800;
}

#foto {
    text-align: center;
    padding: 5px;
}

#imagem {
    width: 90%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}